@tailwind base;
@tailwind components;
@tailwind utilities;

/* 引入外部字体 */
@import url('https://static.zeoseven.com/cn/70/main/result.css');

/* 记得在const.js中修改引入的字体 */

/* 不再引入IBM Plex */
/* @font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
} */

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/SourceSerif.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/SourceSerif-Italic.var.woff2') format('woff2');
}

@font-face {
	font-family: "fontcd";
	src: url('https://static.zeoseven.com/en/cd/main.woff2'),
	/* 当 CDN 不可用时直接由源服务器提供文件 */
	url('https://static-host.zeoseven.com/en/cd/main.woff2');
}

html {
  --scrollbarBG: #ffffff00;
  --thumbBG: #e0e0e0;
  font-family: "fontcd", "HarmonyOS Sans SC", sans-serif !important; /* 英文字体在前，中文字体在后 */
  font-weight: normal;
}
body::-webkit-scrollbar {
  /* width: 5px; */
  scrollbar-width: thin;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.12em; /* 增加的文字间距 */
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 10px; /* 滚动条的圆角 */
}
body::-webkit-scrollbar-button {
  background: transparent;
}


::selection {
  background: rgba(45, 170, 219, 0.3);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50 cursor-pointer;
}

.sticky-nav:not(.sticky-nav-full) .caret {
  opacity: 0 !important;
}

.header-name {
  display: none;
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-400 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .sticky-nav-full {
    @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: grid;
  }
  .site-title,
  .post-title {
    @apply transition duration-500;
  }
  .site-description {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .site-description {
    @apply opacity-100 transition duration-500;
  }
  .post-title {
    @apply opacity-0;
  }
  .post-title ~ span .site-description {
    @apply hidden;
  }
  .sticky-nav-full .post-title {
    @apply opacity-100;
  }
  .sticky-nav-full .post-title ~ span .site-title {
    @apply opacity-0;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}

.capture-pointer-events * {
  @apply pointer-events-none;
}

/*
  @ style name: catalog-divider
  @ used for decoration in table of content
  @ 废弃，不再需要

.catalog-divider {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 70%;
  position: relative;
}

.catalog-divider .divider-shadow {
  overflow: hidden;
  height: 20px;
}

.catalog-divider .divider-shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.catalog-divider .catalog-tag {
  width: 80px;
  height: 40px;
  padding: 12px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -20px;
  left: 50%;
  margin-left: -40px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.catalog-divider .catalog-tag i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 0.2rem;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 50px;
  font-style: normal;
  color: #999;
  display: inline-block;
  line-height: 30px;
}
*/

/* 主页面卡片的字体间距 */
.blog-post-card {
  letter-spacing: 0.1em;
}
/* 让文章不能被选中文字和内容 */
.article-no-select {
  user-select: none;
}

/* 隐藏滚动条 */
.scroll-hidden {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none; /* firefox */
}

.scroll-hidden::-webkit-scrollbar {
  width: 0 !important;
}

.auto-hidden-scrollbar {
  overflow-y: auto; /* 启用垂直滚动 */
}

.auto-hidden-scrollbar::-webkit-scrollbar {
  width: 0.5em; /* 滚动条宽度 */
}

.auto-hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* 初始状态透明 */
}

.auto-hidden-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* 悬停时显示滚动条 */
}


/* 主页文章卡片阴影 */
.custom-shadow {
   /*https://getcssscan.com/css-box-shadow-examples #1 */
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-hover-shadow:hover {
  /*https://getcssscan.com/css-box-shadow-examples #10 */
  transform: translateY(-10px) scale(1.05); /* 向上平移10px并稍微放大 */
  box-shadow: rgb(76, 76, 76) 0px 20px 30px -10px;
}

.custom-header-btn-hover-shadow:hover {
  /*https://getcssscan.com/css-box-shadow-examples #10  */
  background-color: white; /* 保持 hover 时背景为白色 */
  box-shadow: inset 0 -5px 6px rgba(0,0,0,.17),inset 0 -7px 10px rgba(0,0,0,0.15),inset 0 -12px 8px 0 rgba(0,0,0,.1),0 2px 1px rgba(0,0,0,.16),0 4px 2px rgba(0,0,0,.14),0 8px 4px rgba(0,0,0,.12),0 16px 8px rgba(0,0,0,.1),0 32px 16px rgba(0,0,0,.08);
  /* 较轻的阴影效果，避免遮盖按钮 */
  border-radius: 0.5rem; /* 保持 hover 时圆角效果 */
  color: #1f2937; /* 灰色 (#1f2937) 字体，等同于 text-gray-800 */
  transition: all 300ms ease-in-out;
}

.custom-rsch-tag-hover-shadow {
  background-color: transparent; /* 默认背景为透明 */
  box-shadow: none; /* 默认无阴影 */
  border-radius: 0.5rem; /* 保持 hover 时圆角效果 */
  transition: all 300ms ease-in-out;
}

.custom-rsch-tag-hover-shadow:hover {
  /*https://getcssscan.com/css-box-shadow-examples #10  */
  background-color: white; /* 保持 hover 时背景为白色 */
  box-shadow: inset 0 -1px 2px rgba(0,0,0,.17),inset 0 -3px 6px rgba(0,0,0,.15),inset 0 -9px 5px 0 rgba(0,0,0,.1),0 2px 1px rgba(0,0,0,.16),0 4px 2px rgba(0,0,0,.14),0 8px 4px rgba(0,0,0,.12),0 16px 8px rgba(0,0,0,.1),0 18px 16px rgba(0,0,0,.08);
  /* 较轻的阴影效果，避免遮盖按钮 */
  border-radius: 0.5rem; /* 保持 hover 时圆角效果 */
  color: #1f2937; /* 灰色 (#1f2937) 字体，等同于 text-gray-800 */
  transition: all 300ms ease-in-out;
}

.custom-rsch-tag-selected {
  /*https://getcssscan.com/css-box-shadow-examples #10  */
  background-color: white; /* 保持 hover 时背景为白色 */
  box-shadow: inset 0 -1px 2px rgba(0,0,0,.17),inset 0 -3px 6px rgba(0,0,0,.15),inset 0 -9px 5px 0 rgba(0,0,0,.1),0 2px 1px rgba(0,0,0,.16),0 4px 2px rgba(0,0,0,.14),0 8px 4px rgba(0,0,0,.12),0 16px 8px rgba(0,0,0,.1),0 18px 16px rgba(0,0,0,.08);
  /* 较轻的阴影效果，避免遮盖按钮 */
  border-radius: 0.5rem; /* 保持 hover 时圆角效果 */
  color: #1f2937; /* 灰色 (#1f2937) 字体，等同于 text-gray-800 */
}

.custom-page-tag-hover-shadow {
  background-color: transparent; /* 默认背景为透明 */
  box-shadow: none; /* 默认无阴影 */
  transition: all 300ms ease-in-out;
}

.custom-page-tag-hover-shadow:hover {
  /*https://getcssscan.com/css-box-shadow-examples #10  */
  background-color: white; /* 保持 hover 时背景为白色 */
  box-shadow: inset 0 -1px 2px rgba(0,0,0,.17),inset 0 -3px 6px rgba(0,0,0,.15),inset 0 -9px 5px 0 rgba(0,0,0,.1),0 2px 1px rgba(0,0,0,.16),0 4px 2px rgba(0,0,0,.14),0 8px 4px rgba(0,0,0,.12),0 8px 5px rgba(0,0,0,.1),0 12px 7px rgba(0,0,0,.08);
  /* 较轻的阴影效果，避免遮盖按钮 */
  border-radius: 0.75rem; /* 保持 hover 时圆角效果 */
  color: #1f2937; /* 灰色 (#1f2937) 字体，等同于 text-gray-800 */
  transition: all 300ms ease-in-out;
}
